.banner{
	max-width: 251px;
	min-height: 357px;
	background-color: #86D3F4;
	position: absolute;
	/* top: 220px;
	right: 0; */
	/* top: -357px;
	right: 0; */
	top: 220px;
	right: -251px;

	z-index: 3;

	/* visibility: hidden;
	opacity: 0;
	transition: opacity 1s, visibility 0s 1s; */
	/* transform: translate(0, 50%); */
	animation: translate 1s linear normal forwards;
}

@keyframes translate {
	from {
		transform: translate(0px);
	}
	to {
			transform: translate(-251px, 0px);
	}
}