.promo__keyboard_btn{
	box-shadow: inset rgba(0,0,0,.3) -3px -3px 8px,
	inset rgba(255,255,255,.5) 3px 3px 8px,
	rgba(0,0,0,.4) 3px 3px 8px -3px;
	border-radius: 50px;
	border: 1px solid #000;
	transition: box-shadow 1s ease;
}

.promo__keyboard_btn:hover{
	box-shadow: inset rgba(0,0,0,.5) -3px -3px 8px,
	inset rgba(255,255,255,.9) 3px 3px 8px,
	rgba(0,0,0,.8) 3px 3px 8px -3px;
	cursor: pointer;
}

.promo__keyboard_btn:nth-of-type(10){
	grid-column: span 2;
}