.promo__input{
	max-width: 266px;
	min-height: 38px;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 37px;
	text-transform: uppercase;
	background: #86D3F4;
	border: none;
	color: #000000;
	margin: 0 55px;
	text-align: center;
}