.promo{
	position: absolute;
	top: 0;
	left: 0;
	max-width: 380px;
	min-height: 100%;
	background: rgba(218, 210, 196, 0.64);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.promo_disabled{
	display: none;
}

.promo__title{
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 30px;
	text-align: center;

	color: #000000;
}

.promo__input{
	max-width: 330px;
	min-height: 38px;
	font-style: normal;
	font-size: 32px;
	line-height: 37px;
	text-transform: uppercase;
	background: rgba(218, 210, 196, 0);
	border: none;
	color: #000000;
	text-align: center;
}

.promo__text{
	max-width: 328px;
	min-height: 32px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-align: center;

	color: #000000;
	margin: 13px 0 33px;
}

.promo__keyboard{
	max-width: 284px;
	min-height: 238px;

	display: grid;
	column-gap: 10px;
	row-gap: 10px;
  grid-template-columns: repeat(3, 88px);
	grid-template-rows: repeat(4, 52px);
}

.promo__checkbox{
	margin: 33px 0 13px;
	max-width: 200px;
	display: flex;
}

.promo__checkbox_hidden{
	display: none;
}

.promo__check{
	width: 40px;
	height: 40px;
	margin-right: 10px;
	color: rgba(218, 210, 196, 0.64);
}

.promo__check_text{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #565656;
	margin: 0;
}

.promo__err{
	color: red;
	text-transform: uppercase;
	max-width: 284px;

	display: flex;
	z-index: 6;
	margin: 13px 48px;
	min-height: 52px;
	justify-content: center;
	align-items: center;
}

.promo__err_hidden{
	display: none;
}

.promo__btn{
	width: 284px;
	height: 52px;
	background-color: #000000;

	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 50px;

	color: #FFFFFF;
}

.promo__btn_disabled{
	border: 1px solid #4E4E4E;
	background: rgba(218, 210, 196, 0);
	color: #4E4E4E;
}