.promo__btn{
	width: 284px;
	height: 52px;
	margin-left: 48px;
	background-color: #000000;

	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;
}