.banner{
	max-width: 251px;
	min-height: 357px;
	background: rgba(218, 210, 196, 0.64);
	position: absolute;
	top: 220px;
	right: -500px;

	z-index: 3;

	animation: translate 1s linear 5s normal forwards;
}

@keyframes translate {
	from {
		transform: translate(0px);
	}
	to {
		transform: translate(-500px, 0px);
	}
}

.banner__title{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;

	color: #000000;
	margin: 0 10px;
	padding: 20px 0;

	max-width: 231px;
}

.banner__qr-code{
	max-width: 126px;
	min-height: 126px;
	margin-left: 62.5px;
}

.banner__subtitle{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-align: center;

	color: #000000;
	margin: 6px auto 20px;

	max-width: 126px;
}

.banner__button{
	width: 156px;
	height: 52px;
	background: #000000;
	color: #fff;
	margin-left: 47.5px;
	border: none;
	border-radius: 50px;
}