.banner__title{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;

	color: #000000;
	margin: 0 auto;
	padding: 20px 0;

	max-width: 231px;
}